<div class="profile">
    <div class="profile-pic">
        <!-- <h1>tady bude jeho fotka</h1> -->
        <img [src]="'data:image/jpeg;base64,' + userInfo.photo" alt="profilova fotka" /> 
        <mat-icon (click)="openEditDialog()" class="edit-pen">edit</mat-icon>
    </div>

    <div *ngIf="userInfo" class="user-name">
        <h1>{{ userInfo.firstName }} {{ userInfo.lastName }}</h1>
    </div>
   
    <div class="info">
        <div class="balanc"> 
            <h3>Aktuální balanc: TODO</h3>
            <p>+25</p> 
            <select>
                <option>CZK</option>
                <option>CZK</option>
                <option>CZK</option>
            </select>
        </div>

        <div class="payment-history">
            <h3>Historie plateb TODO</h3>
        </div>
    </div>
    
    <button (click)="odhlasit()">Odhlásit se</button>
</div>
