h1 {
    text-align: center;
    margin-bottom: 0;
    margin-top: 2.5rem;
}

.searchInput {
    width: 300px;
    margin: 20px auto;
    margin-top: 0;
    display: flex;
    align-items: center;
    padding: 5px;
}

#searchInput {
    width: 200px;
    border-radius: 25px;
    border: 2px solid lightgray;
    padding: 8px 10px;
    padding-left: 38px;
}

.icon {
    position: relative;
    left: 30px;
}
