<!-- Author: Tomas Valik (xvalik04) -->

<div class="group-menu">
    <h1>Vaše skupiny</h1>
    <div class="searchInput">
        <mat-icon class="icon">search</mat-icon>
        <input id="searchInput" type="text">
    </div>

    <div class="group-list">
        <div class="group" *ngFor="let group of groups" (click)="showGroupId(group.group_id)">
            <div class="pic">
                <img [src]="'data:image/jpeg;base64,' + group.group_photo"/>
            </div>
            <span>{{ group.group_name }}</span>
        </div>
    </div>

    <div class="buttons">
        <button mat-button (click)="openCreateGroup()">Vytvořit novou skupinu</button>
        <button mat-button (click)="openJoinGroup()">Přidat se ke skupině</button>
    </div>
</div>
    