<div class="inside-group">
    <div class="header">
        <h1>{{ groupInfo?.group.group_name }}</h1>
        <button (click)="openDialogEditGroup()" class="upravit-skupinu-mobil">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.0" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
            </svg>
        </button>
    </div>

    <div class="users" *ngFor="let user of groupInfo?.group.users">
        <div class="user">
            <h2>{{ user.user_firstname }}</h2>
            <!-- tady dodelat + - -->
        </div>
    </div>

    <button (click)="openDialogAddNewPay()" class="nova-platba">Přidat novou platbu</button>

    
    <div class="info">
        <div class="dluhy">
            <h2>Dluhy</h2>
            <div class="dluh-list">
                <div class="dluh-item">
                    <span>Pepa <mat-icon class="arrow">arrow_forward</mat-icon> Jura</span>
                    <p class="castka">100</p>
                </div>
            </div>
            <button (click)="openDialogSettleDebt()">Srovnat dluh</button>
        </div>
        
        <div class="platby">
            <h2>Historie plateb</h2>

            <div class="platby-list">
                <span>Poslední platby</span>
                <div class="platby-item" *ngFor="let transaction of transactions">
                    <div class="platba-detail">
                        <div class="description">
                            <span>{{ transaction.debtor.user_firstname }} <mat-icon class="arrow">arrow_forward</mat-icon> {{ transaction.payer.user_firstname }}</span>
                            <span>{{ transaction.t_label }}</span>
                        </div>
                        <p class="castka">{{ transaction.t_amount }}</p>
                    </div>
                </div>
            </div>

            <button (click)="openDialogPaymentHistory()">Zobrazit celou historii</button>
        
        </div>

    </div>

    <div class="bottom">
        <button (click)="openDialogEditGroup()" class="upravit-skupinu">Upravit skupinu</button>
        <select name="mena" id="mena">
            <option value="CZK">CZK</option>
            <option value="EUR">EUR</option>
        </select>
    </div>
        
</div>


  
