.inside-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: gray;
    margin-top: 20px;
    margin-bottom: 60px;
}

.users {
    padding: 1.5rem;
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50%;
    margin-bottom: 30px;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.user h2 {
    margin-bottom: 0;
}

.nova-platba {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: linear-gradient(270deg, #60E03F 15.29%, #21A500 82.82%, #21A500 82.82%);
    border: 0;
    padding: 0.4rem 4rem;
    border-radius: 40px;
    color: white;
    font-size: 16px;
    margin-bottom: 60px;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-bottom: 50px;
}

.info button {
    width: 100%;
    background: linear-gradient(90deg, #D3D3D3 0%, #EDEDED 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 41px;
    border: 0;
    padding: 0.5em 1em;
}

.dluhy, 
.platby {
    background: linear-gradient(180deg, #C6C6C6 0%, #EAEAEA 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0.6em 1rem;
    border-radius: 25px;
}

.dluhy h2, 
.platby h2 {
    margin-bottom: 3px;
    margin-left: 0.3em;
}

.dluh-list, 
.platby-list {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 1em;
    margin-bottom: 0.6em;
    height: 180px;
    width: 250px;
    padding-top: 3px;
}

.dluh-item:first-child {
    margin-top: 1em;
}

.platby-list > span:first-child {
    font-size: 10px;
    margin: 0;
    font-weight: bold;
}

.dluh-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.platby-item {
    display: flex;
    flex-direction: column;
}

.platba-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.castka {
    font-size: 10px;
}

.castka{
    background-color: lightgray;
    padding: 0 0.5rem;
    border-radius: 1rem;
    margin-left: 1em;
    margin-bottom: 0;
    max-height: 20px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 15px;
}

.description span:last-child {
    font-size: 10px;
}

.platby {
    background: linear-gradient(180deg, #C6C6C6 0%, #EAEAEA 100%);
    padding: 0.5em 1rem;
    border-radius: 30px;
}

.bottom {
    display: flex;
    display: row;
}

.bottom button {
    width: 100%;
    background: linear-gradient(90deg, #D3D3D3 0%, #EDEDED 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    border: 0;
    padding: 0.5em 3em;
}

.bottom select {
    border-radius: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0 0.5em;
    margin-left: 0.5em;
    border: 0;
}

/* Mobil */
@media only screen and (max-width: 600px) {
    .info {
        flex-direction: column;
    }

    /* upravit sirky a mezery vseho */
}