.inside-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90%;
}

.header {
    display: flex;
    flex-direction: row;
    color: #525252;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.header h1 {
    margin-bottom: 0;
    font-weight: 350;
}

.upravit-skupinu-mobil{
    background: transparent;
    color: gray;
    width: 40px;
    height: 40px;
    border: 0;
    margin-top: -3px;
    display: none;
}

.user-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding-bottom: 0.5em;
    margin-bottom: 2rem;
    overflow-x: scroll;
}

.users {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D9D9D9;
    border-radius: 50%;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.pic {
    border-radius: 50%;
    overflow: hidden;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 128px;
    height: 128px;
    position: relative;
    /* padding: 1.5em; */
}
  
img {
    position: absolute;
    object-fit: cover;   
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.user h2 { font-size: 22px; }

.user h3 {
    font-size: 18px;
    line-height: 20px;
    font-weight: lighter;
}

.user h2, .user h3 {
    max-width: 120px;
    margin-bottom: 0; 
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nova-platba {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background: linear-gradient(270deg, #60E03F 15.29%, #21A500 82.82%, #21A500 82.82%);
    border: 0;
    padding: 0.4rem 4rem;
    border-radius: 40px;
    color: white;
    font-size: 16px;
    margin-bottom: 4rem;
}

.info {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    margin-bottom: 3rem;
    height: 310px;
}

.info button {
    width: 100%;
    background: linear-gradient(90deg, #D3D3D3 0%, #EDEDED 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 41px;
    border: 0;
    padding: 0.5em 1em;
}

.dluhy, 
.platby {
    background: linear-gradient(180deg, #C6C6C6 0%, #EAEAEA 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    padding-top: 0.6rem;
    border-radius: 25px;
}

.dluhy h2, 
.platby h2 {
    margin-bottom: 3px;
    margin-left: 0.3em;
}

.dluh-list, 
.platby-list {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 0.5em 1em;
    margin-bottom: 1rem;
    height: 188px;
    width: 250px;
    overflow-y: scroll;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.platby-list > span:first-child {
    font-size: 10px;
    margin-bottom: 2px;
    font-weight: bold;
    color: gray;
}

.dluh-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5em;
    font-size: 16px;
}

.platby-item {
    display: flex;
    flex-direction: column;
}

.platba-detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.arrow {
    font-size: 14px;
    display: inline;
}

.castka {
    font-size: 14px;
    font-weight: 600;
}

.castka{
    background-color: lightgray;
    padding: 0.2em 0.8rem;
    border-radius: 1rem;
    margin-bottom: 0;
    max-height: 20px;
}

.description {
    display: flex;
    flex-direction: column;
    line-height: 12px;
    font-size: 16px;
}

.description span, .dluh-item span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description span:last-child {
    font-size: 10px;
    color: gray;
    margin-top: 2px;
}

.bottom {
    display: flex;
    display: row;
}

.bottom button {
    width: 100%;
    background: linear-gradient(90deg, #D3D3D3 0%, #EDEDED 100%);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 40px;
    border: 0;
    padding: 0.5em 3em;
}

.bottom select {
    border-radius: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0 0.5em;
    margin-left: 0.5em;
    border: 0;
}

.chat-button {
    background-color: white;
    position: absolute;
    top: 94%;
    left: 70%;
    padding: 0.5rem 1.5rem;
    border-radius: 20px;
    border: 0;
}


/* Mobil */
@media only screen and (max-width: 670px) {
    .header h1 { margin-bottom: 0; }
    
    .header { 
        margin-top: 0;
        margin-bottom: 3rem; 
    }
    
    .info { 
        flex-direction: column; 
        margin-bottom: 2rem;
        width: 100%;
        gap: 1rem;
        /* height: 100%; */
    }
    
    .info button {
        font-size: 20px;
        padding: 0.3em 1em;
    }
    
    .user-list {
        justify-content: unset;
    }
    
    .nova-platba { margin-bottom: 25px; font-size: 20px;}
    
    .dluhy, .platby {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 0;
        padding-bottom: 1rem;
    }
    
    .dluh-list, .platby-list {
        width: 93%;
        margin-bottom: 1rem;
    }
    
    .platby-list > span:first-child {
        font-size: 15px;
        margin: 2px 0 8px 0;
    }
    
    .dluhy h2, 
    .platby h2 {
        margin: 0em 0 0.35em 0;
        font-size: 24px;
    }
    
    .dluh-item, .description, .castka { font-size: 20px; }
    
    .description { line-height: 20px; }
    
    .description span:last-child { font-size: 15px; }
    
    .arrow { font-size: 18px; }
    
    .castka { 
        padding: 0.5rem 1em;
        font-size: 18px;
    }
    
    .upravit-skupinu { display: none; }
    
    .upravit-skupinu-mobil{ display: block; }

    .bottom { display: none; }
}

