<h1>jmeno skupiny</h1>

<div class="users">
    <div class="user">
        <h2>Pepik</h2>
        <span>300</span>
    </div>
</div>

<button>pridat novou platbu</button>

<div class="dluhy">
    <h2>Dluhy</h2>
    <div class="dluh-list">
        <div class="dluh-item">
            <span>Pepa -> Jura</span>
            <p>100
            </p>
        </div>
    </div>
    <button>Srovnat dluh</button>
</div>

<div class="platby">
    <h2>Historie plateb</h2>
    <div class="platby-list">
        <p>Posledni platby</p>
        <div class="platby-item">
            <span>Pepa -> Jura</span>
            <p>100</p>
            <p>Trencle</p>
        </div>
    </div>
    <button>Srovnat dluh</button>
</div>

<div class="bottom">
    <button>Upravit skupinu</button>
    <select name="mena" id="mena">
        <option value="CZK">CZK</option>
        <option value="EUR">EUR</option>
    </select>
</div>
