
<div class="inside-group">
    <div class="header">
        <h1>{{ groupInfo?.group.group_name }}</h1>
        <button (click)="openDialogEditGroup()" class="upravit-skupinu-mobil">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.0" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
            </svg>
        </button>
        <button (click)="openChat()" class="chat-mobil">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M2.25 12.76c0 1.6 1.123 2.994 2.707 3.227 1.087.16 2.185.283 3.293.369V21l4.076-4.076a1.526 1.526 0 011.037-.443 48.282 48.282 0 005.68-.494c1.584-.233 2.707-1.626 2.707-3.228V6.741c0-1.602-1.123-2.995-2.707-3.228A48.394 48.394 0 0012 3c-2.392 0-4.744.175-7.043.513C3.373 3.746 2.25 5.14 2.25 6.741v6.018z" />
            </svg>              
        </button>
    </div>

    <div class="user-list">
        <div class="users" *ngFor="let user of groupInfo?.group.users; let i = index">
            <div class="pic">
                <img [src]="'data:image/jpeg;base64,' + user.user_photo"/> 
                <div class="user">
                    <h2>{{ user.user_firstname }}</h2>
                    <h3>{{ userBalances && userBalances[i]?.balance || 0 }}</h3>
                </div>
            </div>
        </div>
    </div>

    <div >
        <button (click)="openDialogAddNewPay()" class="nova-platba">Přidat novou platbu</button>
    </div>

    
    <div class="info">
        <div class="dluhy">
            <h2>Dluhy</h2>
            <div class="dluh-list">
                <div *ngFor="let debtorName of getKeys(debts)">
                    <div class="dluh-item" *ngFor="let payerName of getKeys(debts[debtorName])">
                      <span>{{ debtorName }} <mat-icon class="arrow">arrow_forward</mat-icon> {{ payerName }}</span>
                      <p class="castka">{{ debts[debtorName][payerName] }}</p>
                    </div>
                  </div>
              </div>
            <button (click)="openDialogSettleDebt()">Srovnat dluh</button>
        </div>
        
        <div class="platby">
            <h2>Historie plateb</h2>

            <div class="platby-list">
                <span>Poslední platby</span>
                <div class="platby-item" *ngFor="let transaction of transactions">
                    <div class="platba-detail">
                        <div class="description">
                            <span> {{ transaction.payer.user_firstname }} <mat-icon class="arrow">arrow_forward</mat-icon> {{ transaction.debtor.user_firstname }}</span>
                            <span>{{ transaction.t_label }}</span>
                        </div>
                        <p class="castka">{{ transaction.t_amount }}</p>
                    </div>
                </div>
            </div>

            <button (click)="openDialogPaymentHistory()">Zobrazit celou historii</button>
        
        </div>

    </div>

    <div class="bottom">
        <button (click)="openDialogEditGroup()" class="upravit-skupinu">Upravit skupinu</button>
        
        <button class="chat-button" (click)="openChat()">
            CHAT
        </button>
    </div>
    
</div>



  
