<nav *ngIf="showNavbar" class="vertical-navbar flex-fill">
  
  <div class="nav">
    <div class="home">
        <a routerLink="/">
          <i class="material-icons">home</i>
        </a>
          <i class="material-icons filler">home</i>
    </div>
    
    <div class="logo">
      <span class="centered-text">OwesMe</span>
    </div>
    
    <div class="icons profNoti">
      <i class="material-icons">message</i>
      <a routerLink="/profile">
        <div class="pic">
          <ng-container *ngIf="userInfo.photo; else defaultImage">
            <img [src]="'data:image/jpeg;base64,' + userInfo.photo" alt="profilova fotka" /> 
          </ng-container>
          <ng-template #defaultImage>
            <i class="material-icons">account_circle</i>
          </ng-template>
        </div>
      </a>
    </div>
    
  </div>  
</nav>
  