.vertical-navbar {
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
}

.nav{
  margin: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-align: center;
  width: 100%;
  font-size: 2.5em;
}

.icons {
  display: flex;
}

i {
  font-size: 2.25rem;
}

.profNoti>i:first-of-type {
  margin-top: 2px;
}

.profNoti {
  flex-direction: row;
}

.profNoti a {
  margin-left: 1em;
}  


  