.vertical-navbar {
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid black; */
}

.nav{
  margin: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-align: center;
  width: 100%;
  font-size: 3em;
}

.icons {
  display: flex;
}

i {
  font-size: 2.75rem;
}

.profNoti>i:first-of-type {
  margin-top: 8px;
  font-size: 2rem;
}

.profNoti {
  flex-direction: row;
}

.home {
  display: flex;
  flex-direction: row;
  width: 90px;
  height: auto;
}

.home a {
  color: black;
}

.filler {
  visibility: hidden;
}

.profNoti a {
  margin-left: 1em;
  color: inherit;
}  


  