<nav *ngIf="showNavbar" class="vertical-navbar flex-fill">
  
  <div class="nav">
    <div class="home">
        <a routerLink="/">
          <i class="material-icons">home</i>
        </a>
          <i class="material-icons filler">home</i>
    </div>
    
    <div class="logo">
      <span class="centered-text">OwesMe</span>
    </div>
    
    <div class="icons profNoti">
      <i class="material-icons">message</i>
      <a routerLink="/profile">
        <i class="material-icons">account_circle</i>
      </a>
    </div>
    
  </div>  
</nav>
  