<div class="history">
  
  <div class="header">
    <h1>Historie plateb</h1>
    <button mat-icon-button class="close-button" (click)="closeDialog()">
      <mat-icon aria-label="Close dialog">close</mat-icon>
    </button>
  </div>
  
  <div class="search">

    <mat-icon class="icon">search</mat-icon>
    <input id="searchInput" type="text">

    <button (click)="openFilterDialog()" class="filter-button">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 filter">
        <path fill-rule="evenodd" d="M3.792 2.938A49.069 49.069 0 0112 2.25c2.797 0 5.54.236 8.209.688a1.857 1.857 0 011.541 1.836v1.044a3 3 0 01-.879 2.121l-6.182 6.182a1.5 1.5 0 00-.439 1.061v2.927a3 3 0 01-1.658 2.684l-1.757.878A.75.75 0 019.75 21v-5.818a1.5 1.5 0 00-.44-1.06L3.13 7.938a3 3 0 01-.879-2.121V4.774c0-.897.64-1.683 1.542-1.836z" clip-rule="evenodd" />
      </svg>
    </button>

  </div>

  <div class="payment-list">
    <div class="platby-item" *ngFor="let transaction of transactions">
      <div class="platba-detail">
          <div class="description">
              <span> {{ transaction.payer.user_firstname }} <mat-icon class="arrow">arrow_forward</mat-icon> {{ transaction.debtor.user_firstname }}</span>
              <span>{{ transaction.t_label }}</span>
          </div>

          <div class="end-delete">
            <p class="castka">{{ transaction.t_amount }}</p>
            <button (click)="deleteTransaction(transaction.t_id)" class="filter-button">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 trash">
                <path stroke-linecap="round" stroke-linejoin="round" d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
              </svg>
            </button>
          </div>
          
      </div>
  </div>
  </div>


</div>

