<div class="history">
  
  <div class="header">
    <h1>Historie plateb</h1>
    <button mat-icon-button class="close-button" (click)="closeDialog()">
      <mat-icon aria-label="Close dialog">close</mat-icon>
    </button>
  </div>
  
  <div class="search">
    <mat-icon class="icon">search</mat-icon>
    <input id="searchInput" type="text">
    <button mat-button (click)="openFilterDialog()">Filter</button>
  </div>

  <div class="payment-list">
    <div class="platby-item" *ngFor="let transaction of transactions">
      <div class="platba-detail">
          <div class="description">
              <span> {{ transaction.payer.user_firstname }} <mat-icon class="arrow">arrow_forward</mat-icon> {{ transaction.debtor.user_firstname }}</span>
              <span>{{ transaction.t_label }}</span>
          </div>
          <p class="castka">{{ transaction.t_amount }}</p>
      </div>
  </div>
  </div>


</div>