<div class="chat-container">
    <div class="messages-container">
      <div *ngFor="let message of messages" class="message">
        User ID: {{ message.message_user_id }} {{ message.message_text }}
        <button *ngIf="message.message_user_id === getLoggedInUserId()" (click)="removeMessage(message.message_id!)">Odstranit</button>

      </div>
    </div>
  
    <div class="new-message-container">
      <textarea [(ngModel)]="newMessage" placeholder="Napište zprávu..."></textarea>
      <button (click)="sendMessage()">Odeslat</button>
    </div>
</div>
  