.chat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background-color: lightgray;
}

.messages-container {
    background-color: white;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 16px;
    padding-left: 0.5rem;
}

.message { margin-bottom: 1em; }

.message:first-child { margin-top: 0.3em; }

.message:last-child , p:last-child { margin-bottom: 0.3em; }

span {
    background-color: lightgray;
    padding: 0.1em 1em;
    border-radius: 10px;
    margin-right: 0.5em;
}

.new-message-container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.new-message-container input, .new-message-container button {
    padding: 0.5rem;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 0;
}

.new-message-container input {
    border-radius: 15px 0 0 15px;
    flex-grow: 1;
}

.new-message-container button {
    background: linear-gradient(90deg, rgba(0,89,255,1) 0%, rgba(0,191,255,1) 65%, rgba(0,212,255,1) 100%);
    color: white;
    border-radius: 0 15px 15px 0;
}
