<!-- addnewpay.component.html -->
<div class="add-new-payment">

  <div class="header">
    <h1>Nová platba</h1>
    <button mat-icon-button class="close-button">
      <mat-icon aria-label="Close dialog">close</mat-icon>
    </button>
  </div>
  
  <!-- Vstup pro vybrání uživatele -->
  <div class="form-group">
    <label for="selectedUserId">Platil:</label>
    <select id="selectedUserId" [(ngModel)]="selectedUserId" (ngModelChange)="checkButtonAvailability()">
      <option *ngFor="let user of personInfo.group.users" [value]="user.user_id">
        {{ user.user_firstname }} ({{ user.user_id }})
      </option>
    </select>
  </div>
  
  <!-- Vstup pro zadání částky -->
  <div class="form-group">
    <label for="paymentAmount">Částka:</label>
    <input type="number" id="paymentAmount" [(ngModel)]="paymentAmount" (ngModelChange)="checkButtonAvailability()">
  </div>
  
  <!-- Vstup pro zadání důvodu platby -->
  <div class="form-group">
    <label for="paymentReason">Za co:</label>
    <input type="text" id="paymentReason" [(ngModel)]="paymentReason" placeholder="Např.: kino">
  </div>
    
  <!-- Tlačítka pro výběr "Částky" a "Poměru" -->
  
  <!-- Vstupy pro zadání podílu pro každého uživatele -->
  <h2>Účastníci</h2>
  <div class="division-container">

    <div class="split-style">
      <button (click)="onAmountClick()" [ngClass]="{'selected-green': isAmountSelected, 'selected-red': isRatioSelected}">Částka</button>
      <button (click)="onRatioClick()" [ngClass]="{'selected-green': isRatioSelected, 'selected-red': isAmountSelected}">Poměr</button>
    </div>

    <div class="persons">
      <div class="person-list" *ngFor="let user of personInfo.group.users">
        <label for="userShare{{ user.user_id }}">{{ user.user_firstname }}</label>
        <input type="number" class="payment-part" id="userShare{{ user.user_id }}" [(ngModel)]="userShares[user.user_id]" (ngModelChange)="checkButtonAvailability()" *ngIf="isAmountSelected">
        <input type="number" class="payment-part" id="userShare{{ user.user_id }}" [(ngModel)]="userShares[user.user_id]" (ngModelChange)="checkButtonAvailability()" *ngIf="isRatioSelected">
      </div>
    </div>
    
    <!-- <div class="division-container">
      <p>Platil: {{ selectedUserId }}</p>
      <p>Částka: {{ paymentAmount }}</p>
      <p>Za co: {{ paymentReason }}</p>
      <button class="split-equally" (click)="splitEqually()">Rozdělit rovnoměrně</button>
  </div> -->
  
    <button class="split-equally" (click)="splitEqually()">Rozdělit rovnoměrně</button>
  </div>
  
  <button class="confirm-payment" (click)="confirmPayment()" [disabled]="!isButtonEnabled">Přidat platbu</button>
</div>