<div class="settle">
    <div class="header">
        <h1>Srovnat dluh</h1>
        <button mat-icon-button class="close-button">
            <mat-icon aria-label="Close dialog">close</mat-icon>
        </button>
    </div>

    <div class="form">
        <form action="">

            <div class="form-group">
                <label for="skym">S kým:</label>
                <select name="skym" id="skym">
                    <option value="kuba">Jmeno clena</option>
                    <option value="kuba">Jmeno clena</option>
                </select>
            </div>

            <p>Váš dluh s uživatelem <span>UŽIVATEL</span> činí <span>ČÁSTKA</span></p>

            <div class="form-group">
                <label for="kolik">Částka:</label>
                <input type="text" name="castka" id="koolik">
            </div>


            <div class="buttons">
                <button class="srovnat-cele">Srovnat celý dluh</button>
                <button class="srovnat">Srovnat</button>
            </div>

        </form>
    </div>

</div>