<div class="settle">
    <div class="header">
        <h1>Srovnat dluh</h1>
        <button mat-icon-button class="close-button" (click)="zavritDialog()">
            <mat-icon aria-label="Close dialog">close</mat-icon>
          </button>
    </div>

    <div class="form">
        <form action="">

            <div class="form-group">
                <label for="skym">S kým:</label>
                <select name="skym" id="skym" [(ngModel)]="selectedDebt">
                  <option *ngFor="let debt of currentUserDebts" [value]="debt.name">
                    {{ debt.name }}
                  </option>
                </select>
              </div>
              
              <p>Váš dluh s uživatelem <span>{{ selectedDebt }}</span> činí <span>{{ getDebtAmount(selectedDebt) }}</span></p>

            <div class="form-group">
                <label for="kolik">Částka:</label>
                <input type="number" name="castka" id="kolik" [(ngModel)]="selectedDebtAmount">
            </div>


            <div class="buttons">
                <button class="srovnat-cele" (click)="setAmountForSelectedDebt()">Srovnat celý dluh</button>
                <button class="srovnat" (click)="srovnatDluh()">Srovnat</button>
            </div>

        </form>
    </div>

</div>