.edit-profile-container {
  background: linear-gradient(180deg, #C6C6C6 0%, #EAEAEA 100%);
  /* border-radius: 20px; */
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.edit-profile-container h1 {
  text-align: center;
  margin-bottom: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
}

.close-button {
  background-color: transparent;
  border: 0;
}

.change-form {
  display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;  
  margin-bottom: 0.5em; 
  font-size: 16px;
}

.form-group input {
  padding: 0.75em 1.5em;
  margin-left: 1em;
  border-radius: 40px;
  border: 0;
}

.form-group label {
  flex: 2;
}

.password button {
  position: relative;
  margin-left: 1em;
  width: 100%; 
  background: linear-gradient(90deg, #D3D3D3 0%, #EDEDED 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 0;
  padding: 0.4rem 2rem;
  border-radius: 40px;
}

.decision {
  display: flex;
  flex-direction: column;
}

.decision button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 0;
  padding: 0.4rem 2rem;
  border-radius: 40px;
  background: linear-gradient(270deg, #E03F3F 0%, #A70303 100%);
  color: white;
}

.decision button:first-child{
  margin-bottom: 0.5em;
  background: linear-gradient(270deg, #60E03F 15.29%, #21A500 82.82%, #21A500 82.82%);
  border-radius: 41px;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  background-color: black;
}